$myFont: Verdana, Geneva, Tahoma, sans-serif;
$titleSize_desktop: 4em;
$titleSize_mobile: 2em;

$brand_pink: #DF62BC;
$black:  #1a0f1e;
$white: #ffffff;


.header, .footer {
    background-color:blue;
    color:white;
    height:200px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.card{
  width:100vw;
  height:100vh;
  // background: rgba(0, 0, 0); 
  color:white;
  display:flex;
  // align-items:center;
  // justify-content:center;
  // position:sticky;
  top:0; 


 .triangleTopLeft{
  width: 92vw;
  // height: 100vh;
  border-top: 40vw  solid #1a0f1e;;
  border-right: 39vh solid transparent;
  float:right;
  margin-top: -507px;
}



.triangleBottomRight{
  border-bottom: 28vh solid #1a0f1e;
  border-right: 102vw solid transparent;
  float: right;
  margin-top: 155px;
  margin-left:-25%;
}

.triangleBottomRight-Meditate{
  border-bottom: 55vh solid #1a0f1e;
  border-right: 78vw solid transparent;
  float: right;
  margin-top:-412px;
  margin-left:-25%;
  z-index:9;
}

.triangleBottomRight-banner{
  border-bottom: 55vh solid #1a0f1e;
  border-right: 78vw solid transparent;
  float: right;
  margin-top:-412px;
  margin-left:55%;
  z-index:9;
}


@media only screen and (max-width: 1200px) {
  .triangleBottomRight{
display:none;

  }
  .triangleBottomRight-Meditate{
    display:none;
  }
}



.triangleBottomLeft{
  width: 92vw;
  // height: 100vh;
  border-top: 40vw  solid #1a0f1e;;
  border-right: 39vh solid transparent;
  float:right;
  margin-top: -507px;
}
@media only screen and (max-width: 1000px) {
  .triangleTopLeft{
display:none;

  }

}




}


.triangleTopRight{
  width: 85vw;
  height: 100vh;
  border-top: 100vh solid #1a0f1e;;
  border-left: 246px solid transparent;
  float:right;
  margin-top:-300px;
}

@media only screen and (max-width: 1200px) {
  .triangleTopRight{
display:none;

  }

}

.triangleTopRight-inverse{
  border-left:280vh solid transparent;
  border-top: 25vw solid  #1a0f1e;
  z-index: 4;
  margin-left: -10%;
  position: absolute;
}
.triangleBottomRight-inverse {
  border-left: 16vh solid transparent;
  border-bottom: 25vw solid  #1a0f1e;
  z-index: 3;
  /* margin-left: -10%; */
  position: absolute;
  margin-top: 67vh;
}

@media only screen and (max-width: 1200px) {
  .triangleTopRight-inverse{
display:none;

  }

  .triangleBottomRight-inverse {
display:none;

  }


}






.triangleTopLeft-inverse{
  border-right: 100vh solid transparent;
  border-top: 39vw solid #1a0f1e;
  margin-left: -10%;
  position: absolute;
  z-index:6;

}


@media only screen and (max-width: 1200px) {
  .triangleTopLeft-inverse{
display:none;

  }

}



@media only screen and (max-width: 1200px) {
  .triangleTopLeft-inverse{
display:none;

  }

}



// .card img{
//     // position:absolute;
//     z-index:1;
//     left:0;
//     top:0;
//     // width:100%;
//     // height:100%;
//     object-fit:cover;
//     filter:brightness(0.5);
// }

.card-content{
position:absolute;
z-index:2;
left:0;
top:0;
width:100%;
height:100%;

/* make content center */
display:flex;
justify-content:center;
align-items:center;

}

.portrait{
  position:relative;
  // background-size: cover;
// object-fit: cover;
  width:980px;
  height:880px;
  z-index:-2;
  // padding-bottom: 5px;
//  filter:brightness(0.5);
 
animation: float 6s ease-in-out infinite;
// z-index:0;
}

.sorren-oval {
  z-index:1;
  top: 458px;
  width: 30%;
  height: 30%;
  border-style: hidden;
  border-radius: 126px / 50px; 
  background:-webkit-radial-gradient(center, ellipse cover,  
  rgba(43, 43, 43, 0.418) 34%,rgba(43, 43, 43, 0.185) 72%,rgba(255, 255, 255, 0) 100%);
  animation: shadow 6s ease-in-out infinite;
}

@keyframes float {
  0% {
transform: translatey(0px);
  }
  50% {

    transform: translatey(-30px);
  }
  100% {

    transform: translatey(0px);
  }
}

@keyframes shadow {
  0% {
    
    transform: scale(1.0);
opacity:1;
  }


50%{
  
  transform: scale(1.15);
opacity:0.25;
}
  100% {
  
    transform: scale(1.0);
opacity:1;
  }
}

@media only screen and (max-width: 1000px) {
  .portrait{
    position: relative;
    width: 100% !important;
    height: 100% !important;
    margin-left: 0;
    margin-right: 0;
  }

}


.element_invisible{
opacity:0;

}

.about_heading h1{
  font-size:3em;
  display:none;
  color:black;
  margin-top:75px;
  
  }
  @media only screen and (max-width: 768px) {
    .about_heading h1{
         display:block;
      
      
      }
  
  }


  .code_type{
    margin-top: 25%;
    margin-left:15%;
  }

.pink_text_anime{
color:$brand_pink;
position:absolute;
margin-left: 5%;
margin-top: 20vh;
}
@media only screen and (max-width: 1000px) {
  .pink_text_anime{
    position:relative;
    margin-left:15%;
    margin-right:15%;
    padding-left: 5%;
    padding-right:5%;
    text-align:center;
    font-size:1em;
    padding-bottom: 5%;
    width:85%;
    margin-top: 5%;
  }
}

@media only screen and (min-width: 1000px) {
.element_fadein{
  transition:  opacity 2s;
  opacity: 1;

}

.element_transition_delay{
  transition-delay: 4s;
}

}
@media only screen and (max-width: 1000px) {
.element_fadein{
  transition:  opacity 0s;
  opacity: 1;

}


}

.skill_container{
  text-align:right; 
  padding-left:15%; 
  // padding-right:15%;

h1{
  font-size:1em;
}
}


@media only screen and (max-width: 1000px) {
  .skill_container{
    text-align:center; 
    padding-left:0; 
    padding-right:0; 
    padding-bottom:80px;
  }

}


.bio{
  color:black;
}
.date{
  font-size:1.2em;

}

.company{
  font-size:0.7em;
}

.animation_tree{
  transform-origin: center 100%;
  width:100%;
      }
    
      .tree_wrapper{
        width:100vw;
      }

      // .animation_tree:after{
      //   position: absolute;
      //   top: 100%;
      //   left: 0;
      //   width: 5px;
      //   height: 5px;
      //   content: '';
      //   background-color: rgb(255, 0, 0);
      //   border-radius: 50%;
      //       }
          