$myFont: Verdana, Geneva, Tahoma, sans-serif;

$brand_pink: #DF62BC;
$black: #000000;
$white: #ffffff;

body {
    margin: 0;
}


header {
    top: 0;
    position: sticky;
    z-index: 8;
    font-family: $myFont;
    font-weight: bold;

}

.home_nav {
    top: 0;
    position: fixed;
    z-index: 3;
    background: $black;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: inline-block;
    box-shadow: 0 4px 6px -6px #222;
}

/* home button */
.home_icon img {
    width: 2%;
    height: 2%;
    vertical-align: middle;
    padding-top: 5px;
    padding-bottom: 5px;
    transform: scale(1);
    transition: 0.5s;
}



.home_icon img:hover {

    transform: scale(1.1);
    transition: .5s transform;
}


.home_nav-item {
    /* display: inline-block; */
    margin-left: 15px;
}



/* navbar - desktop*/
.nav {
    // color: rgb(0, 0, 0);
    top: 0;
    z-index: 3;
    font-size: 0.8em;
    margin-left: auto;
    margin-right: auto;
}

i .fa-solid .fa-drumstick-bite {
    font-size: 45pt;
    color:$white;
}

.nav .nav-item {

    display: inline-block;
    width: max-content;
    flex-grow: 1;
    text-decoration: none;
    position: sticky;
    padding-right: 30px;
    padding-left: 30px;
    text-decoration: none;
    color: #ffffff;
    display: block;
    transition: .3s background-color;
    text-align: right;
    margin-left: auto;
    margin-right: auto;


}

.nav .nav-item a {
    text-decoration: none;


    /* cart hover intitiation */
    background-image: linear-gradient($brand_pink, $brand_pink);
    background-size: 0 0.2125rem, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .3s ease-out;

}

.nav .nav-item a:hover,
.nav .nav-item a:focus {
    background-size: 100% 0.2125rem, auto;

}

a {
    color:$white;
}

.nav-item:hover {
    color: #000000;
    transition: .5s background-color;
}

.hamburger {
    display: none;
}

#myLinks {
    display: flex;
    float: right;
    margin-top: -25px;
}

.nav_heading {
    display: none;
}

.initialNav{
transform:translateX(-500px);
}

/* end of desktop navbar */

/* mobile nav bar */
@media screen and (max-width: 800px) {

    .nav .nav-item {
        text-align: center;
    }

    .hamburger {
        color: rgb(255, 255, 255);
        margin-left: 5%;
        display: inline-block;
        transform: rotate(0deg);
        transition: 0.5s;
        margin-right: -10%;
        vertical-align: middle;
        margin-left: 70%;
        margin-top: 2px;
    }

    .nav_heading {
        display: inline-block;
        margin-left: 10%;
    }


    .hamburger:hover {
        transform: rotate(90deg);
        color: $brand_pink;
        transition: 0.5s;

    }

    .hamburger:active {
        transform: rotate(90deg);
        color: $brand_pink;
    }


    .nav {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

    }

    #myLinks {
        display: none;
        float: none;

    }


    .home_icon img {
        width: 5%;
        height: 5%;
        vertical-align: middle;
        padding-top: 5px;
        padding-bottom: 2px;
    }

    .home_nav .home_nav-item {
        display: block;
        width: 100%;
        padding-top: 2px;
        padding-bottom: 2px;
        text-decoration: none;
        display: block;
        transition: .3s background-color;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }


    .nav .nav-item {
        display: block;
        margin-left: 0;
        margin-right: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        text-decoration: none;
        display: block;
        transition: .3s background-color;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .nav .nav-item {
        text-decoration: none;
        display: block;
        text-align: center;
    }

}


/* end of mobile navbar*/



.hidden {
    display: none;
}


/* desktop screens for cart item only*/
@media screen and (min-width: 800px) {

    #myLinks {
        display: flex !important;
        /* open closed hamburger when go back to desktop screen */
    }

}