/* body {background: white;} */

/* petals animations */

@media only screen and (min-width: 1000px) {

#petals {position:relative;top:-150px;width:100%;  text-align: right;}

#petals i {
    display: inline-block;
    width: 30%;
    height: 100%;
    z-index: 1;
    border-radius: 58% 20% 70%;
    -webkit-animation: falling 10s 0s infinite ;
  opacity: 0;
  position:fixed;
}

#petals i:nth-of-type(2n) { -webkit-animation: falling2 6s 0s infinite; }
#petals i:nth-of-type(3n) { -webkit-animation: falling3 12s 0s infinite; }

#petals i:nth-of-type(n)    { width: 21px; height: 20px; }
#petals i:nth-of-type(2n+1)    { height:17px; width:19px; }

#petals i:nth-of-type(3n+2)  { height:14px; width:11px; }


#petals i:nth-of-type(n)   { -webkit-animation-delay: 1.9s;}
#petals i:nth-of-type(2n)  { -webkit-animation-delay: 3.9s;}
#petals i:nth-of-type(3n)  { -webkit-animation-delay: 2.3s;}
#petals i:nth-of-type(4n)  { -webkit-animation-delay: 4.4s;}
#petals i:nth-of-type(5n)  { -webkit-animation-delay: 5s;  }
#petals i:nth-of-type(6n)  { -webkit-animation-delay: 3.5s;}
#petals i:nth-of-type(7n)  { -webkit-animation-delay: 2.8s;}
#petals i:nth-of-type(8n)  { -webkit-animation-delay: 1.5s;}
#petals i:nth-of-type(9n)  { -webkit-animation-delay: 3.3s;}
#petals i:nth-of-type(10n) { -webkit-animation-delay: 2.5s;}
#petals i:nth-of-type(11n) { -webkit-animation-delay: 1.2s;}
#petals i:nth-of-type(12n) { -webkit-animation-delay: 4.1s;}
#petals i:nth-of-type(13n) { -webkit-animation-delay: 1s;  }
#petals i:nth-of-type(14n) { -webkit-animation-delay: 4.7s;}
#petals i:nth-of-type(15n) { -webkit-animation-delay: 3s;  }

#petals i:nth-of-type(n)    { background: url("https://lh3.googleusercontent.com/gr2Xjzyy5f-vdto3iuLhafp-v-EJwMrjtkOWu-bXwUpmcEepO6TmC3GR7pOshZS5FWCpRTiIl4Jpf6BkW5EeU23O9p8tV9TfGJcvzwH7QYw2-OG-VymP0-TOM1Pu85vbxmIGXiiHQzPhruXJKdK2J-jvl8LDhMHoIusXYbEmqHWdXBKkjjloUNzwcXXIBq-EWT21Q07txQqv5fSlKtLUeUCPVR10lZCThup1XA5Ta-GGbHzGsY0fm9uyAyJ4qm1FgDRxvVH3l847ShSRuKiHCDnjeF5d4hDMCYsfjK0ZR4fFfYjmrQhDwGtZ6nIl3uwohkT05MRR3L169pV9FYkeSAgyQsKXHFzdjcVfuPkVOvkB10K26AJjAxq6M2FrFFw5YSuO_FAhSTOH_dZkLFsH3mcqIw5DRQHq2LHqkIokNNhtTV9L-h7thwtQubu7pJvF3W3WbwEla9X9zgm3BI_jnlgjHmevrr-gIly7mZX6eJwWtV2YGOq7howCFxOLqZVaqDj8VwsdMg9_o0VzxPh9L8qCpkWnso9jjyQyyX5CAgXECFW0ViRxrtYcJgxAcaWkmZ9Vf_14yTgF1UgspIX7_LIrMCvxqy1v8M9Oh6mE2Sii6ogob9SUhsJfhYPCS6Wzc91GEfQzAd8Fn1in9sL5T5HbKN7XeulHkrkqQ8qsX4SjMLnR_ifY6snMMqMpv0U30CJP9yqjo_vAcyd52juQtk2iRQ=s22-no") no-repeat;}


#petals i:nth-of-type(n)    {transform:rotate(120deg);}

#petals i:nth-of-type(n) { -webkit-animation-timing-function:ease-in-out;}


/* #petals i:nth-of-type(n)    { opacity: 1;}
#petals i:nth-of-type(3n+1)  { opacity: .95;}
#petals i:nth-of-type(3n+2)  { opacity: .8;} */


@-webkit-keyframes falling {
   
    0% {
        -webkit-transform:
            translate3d(300px,0,0)
            rotate(0deg);
    }
   20% {
        opacity: 1;
    }
    
    100% {
        -webkit-transform:
            translate3d(550px,700px,0)
            rotate(-60deg);
        opacity: 0;
    }
}

@-webkit-keyframes falling3 {
     0% {
        -webkit-transform:
            translate3d(0,0,0)
            rotate(0deg);
    }
    20% {
      opacity: 1;
  }
    100% {
        -webkit-transform:
            translate3d(-530px,1500px,0)
            rotate(90deg);
        opacity: 0;
    }
}

@-webkit-keyframes falling2 {
     0% {
        -webkit-transform:
            translate3d(0,0,0)
            rotate(150deg);
    }
    20% {
        opacity: 1;
  }
    100% {
        -webkit-transform:
            translate3d(-400px,680px,0)
            rotate(0deg);
        opacity: 0;
    }
}
}