$myFont: Verdana, Geneva, Tahoma, sans-serif;
$titleSize_desktop: 4em;
$titleSize_mobile: 2.5em;

$brand_pink: #DF62BC;
$black: #000000;
$white: #ffffff;

/*chat box*/
.chatMessage {

    bottom: 40px;
    font-family: 'Helvetica', 'Ubuntu', 'Georgia', serif;
    font-weight: normal;
    /*margin:10px 20px;*/
    border-radius: 5px;
    padding: 15px 15px;
    font-size: 15px;
    letter-spacing: 0.8px;
    /* border: 2px solid #5A7836; */
    color: white;
    /*background-image: linear-gradient(to right, #5A7836 #ADFF2F, #ADFF2F 100%);*/
    /*background-position: 0em 0em;*/
    margin-left: 5px;
    background-color: #5A7836;
    background-size: 0% 100%;
    background-repeat: no-repeat;
    transition: background-size 0.5s;
    position: fixed;
}

.chatMessage strong {
    font-weight: 700;
    letter-spacing: 1.7px;
}

/* chat icon */
img.chat {
    width: 50%;
    position: absolute;
    right: 12px;
    bottom: 12px;
}




/*Special Home Button */
.chatReply {

    bottom: 40px;
    font-family: 'Helvetica', 'Ubuntu', 'Georgia', serif;
    font-weight: normal;
    /*margin:10px 20px;*/
    border-radius: 5px;
    padding: 15px 15px;
    font-size: 15px;
    letter-spacing: 0.8px;
    /* border: 2px solid #5A7836; */
    color: white;
    /*background-image: linear-gradient(to right, #5A7836 #ADFF2F, #ADFF2F 100%);*/
    /*background-position: 0em 0em;*/
    margin-left: 5px;
    background-color: #722668;
    background-size: 0% 100%;
    background-repeat: no-repeat;
    transition: background-size 0.5s;
    position: fixed;
    height: 150px;
}

.chatReply a strong {
    font-weight: 700;
    letter-spacing: 1.7px;
    color: white;
}

.chatReply:hover,
.chatReply:focus {
    font-family: 'Helvetica', 'Ubuntu', 'Georgia', serif;
    font-weight: normal;
    cursor: pointer;
    color: white;
    background-size: 100% 100%;
    transition: 0.5s;
    background-color: rgb(54, 13, 62);
    border: 2px solid rgb(54, 13, 62);
}

/*Special Home Button */
.chatReply2 {

    bottom: 40px;
    font-family: 'Helvetica', 'Ubuntu', 'Georgia', serif;
    font-weight: normal;
    /*margin:10px 20px;*/
    border-radius: 5px;
    padding: 15px 15px;
    font-size: 15px;
    letter-spacing: 0.8px;
    border: 2px solid #722668;
    color: white;
    margin-left: 250px;
    margin-right: 5px;
    /*background-image: linear-gradient(to right, #5A7836 #ADFF2F, #ADFF2F 100%);*/
    /*background-position: 0em 0em;*/
    height: 150px;
    background-color: #722668;
    ;
    background-size: 0% 100%;
    background-repeat: no-repeat;
    transition: background-size 0.5s;
    position: fixed;
}

.chatReply2 a strong {
    font-weight: 700;
    letter-spacing: 1.7px;
    color: white;
}

.chatReply2:hover,
.chatReply2:focus {
    font-family: 'Helvetica', 'Ubuntu', 'Georgia', serif;
    font-weight: normal;
    cursor: pointer;
    color: white;
    background-size: 100% 100%;
    transition: 0.5s;
    background-color: rgb(54, 13, 62);
    border: 2px solid rgb(54, 13, 62);
}


button.closetoggle {
    text-align: center;
    margin-right: 25%;
    padding-left: 25%;
    padding-right: 25%;
    width: 100%;
    height: 80px;
    border-radius: 1px;
    background: #00000071;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    border: none;
}


button.closetoggle:hover {
    background: #000000 !important;
    color: rgb(255, 255, 255) !important;
    transition: all 0.5s;
}

.closeReply {

    bottom: 445px;
    font-family: 'Helvetica', 'Ubuntu', 'Georgia', serif;
    font-weight: normal;
    /*margin:10px 20px;*/
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 15px;
    letter-spacing: 0.8px;
    border: 2px solid rgb(54, 13, 62);
    color: white;
    margin-left: 340px;
    /*background-image: linear-gradient(to right, #5A7836 #ADFF2F, #ADFF2F 100%);*/
    /*background-position: 0em 0em;*/

    background-color: rgb(54, 13, 62);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    transition: background-size 0.5s;
    /* position:fixed; */

    top: -90px;
    margin-left: 85%;
    position: absolute;
    left: 45px;
    color: white;

}

.closeReply strong {
    font-weight: 700;
    letter-spacing: 1.7px;
}

.closeReply:hover,
.closeReply:focus {
    font-family: 'Helvetica', 'Ubuntu', 'Georgia', serif;
    font-weight: normal;
    cursor: pointer;
    color: white;
    background-size: 100% 100%;
    transition: 0.5s;
    background-color: rgb(54, 13, 62);
    border: 2px solid rgb(54, 13, 62);
}





/*Special Home Button */
.openReply {

    bottom: 1px;
    font-family: 'Helvetica', 'Ubuntu', 'Georgia', serif;
    font-weight: normal;
    /*margin:10px 20px;*/
    border-radius: 5px;
    padding: 6px 4px;
    font-size: 15px;
    letter-spacing: 0.8px;
    border: 2px solid rgba(0, 0, 0, 0.438);
    color: white;
    width: 60px;
    height: 60px;
    right: 20px;
    /*background-image: linear-gradient(to right, #5A7836 #ADFF2F, #ADFF2F 100%);*/
    /*background-position: 0em 0em;*/
    position: fixed;
    background-color: rgba(0, 0, 0, 0.76);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    transition: background-size 0.5s;
    position: fixed;
    z-index: 2;


    /* position:absolute;right:12px;bottom:12px;  */


}

.openReply:hover,
.openReply:focus {
    font-family: 'Helvetica', 'Ubuntu', 'Georgia', serif;
    font-weight: normal;
    cursor: pointer;
    color: white;
    background-size: 100% 100%;
    transition: 0.5s;
    background-color: $brand_pink;
    // border: 2px solid rgb(54, 13, 62);
}



@media only screen and (min-width: 1000px) {
    .openReply {
        display: none;

    }
}




.open-button {
    background-color: #722668;
    color: white;
    padding: 6px 5px;
    /*border-color: white white #5A7836 white;*/
    cursor: pointer;
    /*opacity: 0.9;*/
    position: fixed;
    bottom: 0;
    border-radius: 100px 0px 0px 0px;
    /* border-color: #5A7836; */
    right: 0;
    width: 400px;
    /*box-shadow: 180px 80px 40px 20px #ffffff;*/
    z-index: 10;
    margin-left: 50px;
}

/* chat box*/


/* The popup chat - hidden by default */
.chat-popup {

    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    // border-style: solid;
    // border-radius: 10px 0px 0px;
    // border-width: 57px 0px 0px 0px;
    //   border-color: #722668;/*rgba(90, 120, 54,1);*/
    z-index: 2;
    height: 400px;
    width: 400px;
    background-color: rgb(0 0 0 / 53%);
    z-index: 8;
    // top: 100px;
    transition: opacity 1s;

}


    .chat-popup {

        width: 100%;
        height: 100vh;

    
}


.chat-popup h3 {
    margin-left: 10px;
}

.chat-popup p {
    margin-left: 10px;
}

.messageTitle p {
    width: 15%;
    top: -90px;
    margin-left: 130px;
    position: absolute;
    left: 45px;
    color: white;
}

.innerChat {

    position: fixed;
    bottom: 0;
    right: 15px;
    border-radius: 100px 0px 0px 0px;
    border: 5px solid #ffffff;
    /* z-index: -1; */
    height: 460px;
    width: 380px;
    background-color: white;
    padding-left: 20px;
    top: 50px;
}

.inner {
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
   
}

.chatoptions {
    padding-left: 5px;
}


.livechat {
    top: 92vh;
    /* margin-left: 130px; */
    position: absolute;
    /* left: 45px; */
    // color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
    // background: #000000;
}

@media only screen and (max-width: 800px) {
    .innerChat {
        display: none;
        width: 45%;

    }
}