.wrapper {
    height: 50vh;
    /*This part is important for centering*/
    display: grid;
    place-items: center;
    
  }

  .wrapper-h1-pink{
    margin-left:0;
    margin-top:-50px;
   
  }

  .wrapper-h1-banner{
    margin-left:0;
    margin-top:50px;
   
  }
  
  
  .typing-demo {
    width: 22ch;
    opacity: 0;
    // animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    // white-space: nowrap;
    overflow: hidden;
    // border-right: 3px solid;
    font-family: monospace;
    
    position:absolute;
    font-size:1.5em;
    margin-left:15px;
 

  }

  .type_large_size{
    font-size: 3.2em;
   line-height:5em;
    vertical-align:middle;
    // color:white;
  }

  .type_medium_size{
    font-size: 2em;
  }

  .type_small_size{
    font-size: 0.8em;
  }

  @media only screen and (max-width: 1000px) {
    .typing-demo {
      display:none;
    }
  }
  

  .typing-demo1{
    width: 45ch;
    opacity: 0;
    // animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    // white-space: nowrap;
    overflow: hidden;
    // border-right: 3px solid;
    font-family: monospace;
 font-size:1.5em;
    position:absolute;
 margin-top:5%;
    margin-left:15px;


  }
  @media only screen and (max-width: 1000px) {
    .typing-demo1 {
      display:none;
    }
  }
  


  .active-type{
  
     animation: typing 2s steps(22);
     opacity: 1;
     white-space: nowrap;
    }
  

    
   
  @keyframes typing {
    from {
      width: 0;
    }
 to {
  border-right:0;
  }
  }
      
  @keyframes blink {
    50% {
      // border-color: transparent
    }
  }


  @media only screen and (max-width: 1200px) {
    .active-type {

    font-size:1em;
    }
  }

  
  @media only screen and (max-width: 800px) {
    .active-type {
      margin-left:15%;
      margin-right:15%;
      padding-left: 5%;
      padding-right:5%;
    font-size:0.5em;
   
  }
  }

  .active-type1{
   
    animation: typing1 4s steps(22), blonk .5s step-end infinite alternate;

    opacity:1;
    white-space: nowrap;

   }
  @keyframes typing1 {
    0% {
      width: 0;
      animation-delay: 4s;//cause a delay
    
    }
    50%{
      width: 0;
      // opacity:0;
    }
100%{
opacity:1;
}
  }
      
  @keyframes blonk {
   
   
    50% {
      border-color: transparent

    }
  }

  
  @media only screen and (max-width: 800px) {
    .active-type1 {
      margin-left: 0;
      margin-right:5%;
      padding-left: 0;
      padding-right:0;
    font-size:0.4em;
    // margin-top:-2%;
    // white-space: break-spaces;
  
  
  }
  }