.header, .footer {
    background-color:blue;
    color:white;
    height:200px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.card{
  width:100vw;
  height:100vh;
  background: rgba(0, 0, 0, 0.979); 
  color:white;
  display:flex;
  align-items:center;
  justify-content:center;
  position:sticky;
  top:0; 
}

.card img{
    position:absolute;
    z-index:1;
    left:0;
    top:0;
    width:50%;
    height:100%;
    object-fit:cover;
    filter:brightness(0.5);
}

.card-content{
position:absolute;
z-index:2;
left:0;
top:0;
width:100%;
height:100%;

/* make content center */
display:flex;
justify-content:center;
align-items:center;

}