*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header,footer{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items:center;
}

header h1 {
    font-size:60px;
}

.animation{
height:100vh;
background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
position:relative;
overflow:hidden;

}
.animation1{
    height:100vh;
    background-image: linear-gradient(to top, #4500e7 0%, #0a81e2 100%);
    position:relative;
    overflow:hidden;
    
    }
.paper-plane{
    height:100px;
    position: absolute;
    top:50%;
    left:0%;
}